html,
body,
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: 100%;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a:visited {
  color: #2c3e50;
}

.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 2em;
  margin: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  color: #2c3e50;
  background: white;

  border: none;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background: #e0e0e0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15em;
  margin-bottom: 2em;

  p {
    font-size: 12px;
    color: red;
  }

  li {
    font-size: 12px;
    color: red;
  }
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.6em;
  padding: 0.5em;
  margin-bottom: 1em;
  font: 1em 'Avenir', Helvetica, sans-serif;
}

h1 {
  margin-top: 0;
}

.action-button {
  background-color: #007dc1;
  color: white;
  font-size: 1rem;
}
